<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />    
        <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    </head>
    <body>
        <header class="navbar">
            <a href="/" tabindex="0"><h1>Pretty Lil Forum</h1></a>
            <nav>
                <a href="/new" tabindex="0">Create New Post</a>
            </nav>
        </header>

        <main>
            <header>
                <h2>Messages</h2>
            </header>
            <% for (let i = 0; i < msgs.length; i++) { %>
                <article class="message-container">
                    <details open>
                        <summary>
                            <%= msgs[i].name %> <time> <%= msgs[i].added %> </time>
                        </summary>
                        <p> <%= msgs[i].value %> </p>
                    </details>
                    <footer>
                        <a href=" <%= (i + 1) %>" tabindex="0"><span role="img" aria-label="Share this Post">&#x1F517;</span></a>
                    </footer>
                </article>
            <% } %>
        </main>

        <footer>Created by Jesse Herring</footer>
    </body>
</html>