<!-- index.ejs -->
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css" />    
    </head>
    <body>
        <% for (let i = 0; i < messages.length; i++) { %>
            <div class="message-container">
                <h3 class="message-title"> <%= messages[i].user %> </h3>
                <h6> <%= messages[i].added %> </h6>
                <p> <%= messages[i].text %> </p>
                <a href="<%= i %>">🔗</a>
            </div>
        <% } %>
    </body>
</html>
