<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />    
    </head>
    <body>
        <!--<nav>
            <ul>
                <li><button>
                    Turn on the Lights 
                </button></li>
            </ul>
        </nav>-->
        <h1>Pretty Lil Forum</h1>

        <main>
            <header>
                <h2>Messages</h2>
            </header>
            <% for (let i = 0; i < msgs.length; i++) { %>
                <article class="message-container">
                    <h3 class="message-title"> <%= msgs[i].name %> </h3>
                    <time> <%= msgs[i].added %> </time>
                    <p> <%= msgs[i].value %> </p>
                    <a href="messages/<%= (i + 1) %>" tabindex="0"><span role="img" aria-label="Share this Post">&#x1F517;</span></a>
                </article>
            <% } %>
        </main>

        <footer>Created by Jesse Herring</footer>
    </body>
</html>